[submodule "engine"]
	path = engine
	url = https://github.com/Harrand/Topaz
[submodule "samplelib/lib/stb"]
	path = samplelib/lib/stb
	url = https://github.com/nothings/stb
[submodule "samplelib/lib/tinyobjloader"]
	path = samplelib/lib/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
