[submodule "engine"]
	path = engine
	url = https://github.com/Harrand/Topaz
[submodule "samplelib/lib/stb"]
	path = samplelib/lib/stb
	url = https://github.com/nothings/stb
[submodule "samplelib/lib/assimp"]
	path = samplelib/lib/assimp
	url = https://github.com/assimp/assimp
